<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.sup.batis.ICompany">

	
    <!-- 保存联系人信息 -->
	<insert id="saveCompany">
		insert into TCompany(pano,fname,ctype,hytype,bigtype,zczb,begindate,bank,bankno,creditLevel,tel,fax,address)
		 values(#{pano},#{fname},#{ctype},#{hytype},#{bigtype},#{zczb},#{begindate},#{bank},#{bankno},#{creditLevel},#{tel},#{fax},#{address})
	</insert>
	<!-- 查询方案审批结果 -->
	<!--<select id="getProviderPlanAudits" resultType="TProviderPlanAudit">
		select * from TProviderPlanAudit order by aDate
	</select>
	

--></mapper>