<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.sup.batis.IProviderAudit">

	
    <!-- 供应商准入方案审核 -->
	<insert id="saveProviderAudit">
		insert into TProviderAudit(pano,adate,ainfo,aorg,isagree,synchro) values(#{pano}, #{adate}, #{ainfo}, #{aorg},#{isagree},#{synchro})
	</insert>
	
	

</mapper>