<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.sup.batis.IProviderGoods">

	<resultMap id="proGoodsListMap" type="TProviderGoods">
		<id column="aid" property="aid"/>
		<result column="gno" property="gno"/>
		<result column="state" property="state"/>
		<collection property="goods" ofType="TGoods2">
			<id column="g_no" property="gno"/>
			<result column="g_name" property="gname"/>
			<result column="g_istactic" property="IsTactic"/>
		</collection>
	</resultMap>
	
	<!-- 查询拥有产品信息  --> 
	<select id="findGoods" parameterType="String" resultMap="proGoodsListMap">
		select p.aid, p.gno, p.state, g.gno g_no, g.gname g_name, g.istactic g_istactic 
		from TProviderGoods p, TGoods2 g
		where p.pno=#{id} and p.gno=g.gno and p.state=0
	</select>
	
	<select id="Goods" parameterType="String" resultType="TProviderGoods">
		select p.aid,p.gno,p.state from TProviderGoods p where p.pno=#{id} 
	</select>
	
</mapper>