<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.sup.batis.IQualification">

	
    <!-- 保存联系人信息 -->
	<insert id="saveQualification">
		insert into TQUALIFICATION(PANO,BIZLICENSE,BIZLICENSEFDATE,ORGANIZE,ORGANIZEFDATE,TAXGUO,TAXGUOFDATE,LTAXDI,LTAXDIFDATE,BANKCERTIFICATE,BANKCERTIFICATEFDATE)
		 values(#{pano}, #{bizlicense}, #{bizlicenseFdate}, #{organize},#{organizeFdate},#{taxguo}, #{taxguoFdate}, #{ltaxdi}, #{ltaxdiFdate},#{bankcertificate},#{bankcertificateFdate})
	</insert>
	<!-- 查询方案审批结果 -->
	<!--<select id="getProviderPlanAudits" resultType="TProviderPlanAudit">
		select * from TProviderPlanAudit order by aDate
	</select>
	

--></mapper>