<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.sup.batis.IQueryProduct">

	<select id="QueryPro" parameterType="String" resultType="com.pms.sup.entity.TGoods2">
	 SELECT * FROM TGOODS2 WHERE gname=#{gname} 
	</select>
	<select id="QueryProById" parameterType="String" resultType="com.pms.sup.entity.TGoods2">
	 SELECT * FROM TGOODS2 WHERE gno=#{gno} 
	</select>

</mapper>